MONGO_URI=mongodb+srv://rupeshsonawane346_db_user:<db_password>@cluster0.nf92zhn.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this
PORT=5000
FRONTEND_URL=http://localhost:5173
